<div class="container">

    <h3> Dashboard </h3>

    <table class="table table-bordered">
      <thead>
        <th>Title</th>
        <th>Average Score</th>
        <th>Number of Reviews</th>
      </thead>
      <tbody>
        <% @shows.each do |show| %>
          <tr>
            <td><%= show.title %></td>
            <td><%= show.average_review_score.round(1) %></td>
            <td><%= show.reviews.count %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
    
    <%= link_to "refresh", dashboard_index_path, hidden: true %>

    <div class="button-container">
      <button class="btn btn-lg button">Test</button>
    </div>
</div>